---
import stripes from "@/assets/stripes.svg";
import logo from "@/assets/dinoware-logo.svg";
import { Image } from "astro:assets";
---

<section
  class="relative min-h-[700px] flex justify-center items-center bg-primary overflow-hidden"
>
  <Image
    src={stripes}
    alt="Stripes superior rotado"
    class="absolute top-0 left-0 w-[800px] rotate-180 pointer-events-none z-0 opacity-10"
  />

  <div class="relative flex items-center justify-end px-6 md:px-24 py-16">
    <div
      class="absolute inset-0 flex justify-center items-center md:hidden pointer-events-none z-0"
    >
      <Image src={logo} alt="Logo de fondo" class="w-[500px] opacity-20" />
    </div>

    <div
      class="max-w-xl flex flex-col justify-center items-center gap-10 text-right z-10"
    >
      <h1
        class="text-white text-3xl lg:text-4xl xl:text-5xl flex flex-col justify-center items-center"
      >
        <span class="font-extrabold pb-8 text-secondary">Together,</span>
        <span>We Build Tomorrow’s Tech</span>
      </h1>

      <button
        class="group relative bg-white text-primary font-bold py-4 px-8 rounded-full shadow-lg transition-all duration-300 hover:scale-105 heartbeat flex items-center gap-3"
      >
        <span class="z-10">
          Transform Your Future, Start Creating Tech Here!!</span
        >
        <!-- Fixed lightning icon -->
        <svg
          class="w-6 h-6 transition-transform duration-300 group-hover:scale-125 group-hover:rotate-6"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path d="M13 2L3 14h9l-1 8 10-12h-9l1-8z"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- <div class="relative hidden md:flex items-center justify-center">
    <Image
      src={logo}
      alt="Logo"
      class="w-[300px] lg:w-[350px] xl:w-[500px] z-10 pointer-events-none"
    />
  </div> -->

  <Image
    src={stripes}
    alt="Stripes inferior"
    class="absolute bottom-0 right-0 w-[800px] pointer-events-none z-0 opacity-10 hidden md:flex"
  />
</section>
