---
import stripes from "@/assets/stripes-white.svg";
import logo from "@/assets/dinoware-logo.svg";
import { Image } from "astro:assets";
---

<section
  class="relative min-h-[700px] grid grid-cols-1 md:grid-cols-2 bg-primary overflow-hidden"
>
  <Image
    src={stripes}
    alt="Stripes superior rotado"
    class="absolute top-0 left-0 w-[800px] rotate-180 pointer-events-none z-0 opacity-10"
  />
  <div class="relative flex items-center justify-end px-6 md:px-24 py-16">
    <div
      class="absolute inset-0 flex justify-center items-center md:hidden pointer-events-none z-0"
    >
      <Image src={logo} alt="Logo de fondo" class="w-[500px] opacity-20" />
    </div>

    <div class="max-w-xl flex flex-col items-end gap-10 text-right z-10">
      <h1 class="text-white text-4xl md:text-5xl leading-tight relative">
        <span class="font-bold">Together,</span><br />
        <span>We Build Tomorrow’s Tech</span>
      </h1>

      <a
        href="#contact"
        class="bg-secondary p-4 px-10 rounded-full text-primary font-medium text-xl hover:brightness-110 transition-all"
      >
        Contactanos
      </a>
    </div>
  </div>

  <div class="relative hidden md:flex items-center justify-center">
    <Image
      src={stripes}
      alt="Stripes inferior"
      class="absolute bottom-0 right-0 w-[800px] pointer-events-none z-0 opacity-10"
    />
    <Image src={logo} alt="Logo" class="w-[400px] z-10 pointer-events-none" />
  </div>
</section>
