---
import { Icon } from "astro-icon/components";
---

<section class="min-h-[800px] bg-white pt-20 flex flex-col items-center">
  <h2 class="text-primary text-4xl font-bold pb-20">
    We make your projects come to reality
  </h2>
  <div class="grid grid-cols-2 gap-10">
    <div
      class="bg-primary hover:bg-[url('/images/web.webp')] bg-cover bg-center text-white hover:text-primary flex flex-col justify-center items-center p-20 rounded-2xl gap-2"
    >
      <span class="text-3xl font-bold">Custom Software</span>
      <div
        class="flex flex-row justify-center items-center gap-4 hover:text-secondary text-xl font-bold cursor-pointer"
      >
        <span>Learn More</span>
        <Icon name="arrow-right-solid" />
      </div>
    </div>

    <div
      class="bg-primary hover:bg-[url('/images/movil.webp')] bg-cover bg-center text-white hover:text-primary flex flex-col justify-center items-center p-20 rounded-2xl gap-2"
    >
      <span class="text-3xl font-bold">Movil Apps</span>
      <div
        class="flex flex-row justify-center items-center gap-4 hover:text-secondary text-xl font-bold cursor-pointer"
      >
        <span>Learn More</span>
        <Icon name="arrow-right-solid" />
      </div>
    </div>

    <div
      class="bg-primary hover:bg-[url('/images/server.webp')] bg-cover bg-center text-white flex flex-col justify-center items-center p-20 rounded-2xl gap-2"
    >
      <span class="text-3xl font-bold">Cloud Services</span>
      <div
        class="flex flex-row justify-center items-center gap-4 hover:text-secondary text-xl font-bold cursor-pointer"
      >
        <span>Learn More</span>
        <Icon name="arrow-right-solid" />
      </div>
    </div>

    <div
      class="bg-primary hover:bg-[url('/images/analitycs.webp')] bg-cover bg-center text-white hover:text-primary flex flex-col justify-center items-center p-20 rounded-2xl gap-2"
    >
      <span class="text-3xl font-bold">Data Analitycs</span>
      <div
        class="flex flex-row justify-center items-center gap-4 hover:text-secondary text-xl font-bold cursor-pointer"
      >
        <span>Learn More</span>
        <Icon name="arrow-right-solid" />
      </div>
    </div>
  </div>
</section>
<style></style>
