---
import { Image } from "astro:assets";
import logo from "@/assets/dinoware-logo.svg";
---

<section
  class="w-full min-h-screen bg-primary flex items-center justify-center relative overflow-hidden px-4"
>
  <h2
    class="absolute top-20 text-white text-2xl lg:text-4xl font-bold lg:pb-20 z-10"
  >
    Our Technologies
  </h2>

  <!-- Centro: Logo -->
  <div class="hidden lg:block absolute z-10">
    <Image src={logo} alt="Logo" class="w-80 h-80" />
  </div>

  <!-- Orbitas (solo visibles en desktop) -->
  <div class="hidden lg:flex items-center justify-center">
    <!-- Orbita 1 -->
    <div
      class="absolute w-[30rem] h-[30rem] border-2 border-secondary rounded-full animate-spin-slow"
    >
      <img
        src="https://skillicons.dev/icons?i=js"
        class="orbit-icon"
        style="transform: translate(-50%, -17rem) rotate(0deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=typescript"
        class="orbit-icon"
        style="transform: translate(10rem, -11rem) rotate(55deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=python"
        class="orbit-icon"
        style="transform: translate(13rem, 0) rotate(90deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=elixir"
        class="orbit-icon"
        style="transform: translate(9rem, 9rem) rotate(135deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=java"
        class="orbit-icon"
        style="transform: translate(0, 13rem) rotate(180deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=rust"
        class="orbit-icon"
        style="transform: translate(-11rem, 10rem) rotate(225deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=go"
        class="orbit-icon"
        style="transform: translate(-16rem, 0) rotate(270deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=php"
        class="orbit-icon"
        style="transform: translate(-12rem, -12rem) rotate(315deg)"
      />
    </div>

    <!-- Orbita 2 -->
    <div
      class="absolute w-[40rem] h-[40rem] border-2 border-secondary rounded-full animate-spin-reverse-slower"
    >
      <img
        src="https://skillicons.dev/icons?i=react"
        class="orbit-icon"
        style="transform: translate(-21rem, 0) rotate(0deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=nextjs"
        class="orbit-icon"
        style="transform: translate(-16rem, -15rem) rotate(45deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=astro"
        class="orbit-icon"
        style="transform: translate(-2rem, -22rem) rotate(90deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=tailwind"
        class="orbit-icon"
        style="transform: translate(14rem, -14rem) rotate(135deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=nestjs"
        class="orbit-icon"
        style="transform: translate(18rem, 0) rotate(180deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=vue"
        class="orbit-icon"
        style="transform: translate(12rem, 13rem) rotate(225deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=vite"
        class="orbit-icon"
        style="transform: translate(0, 18rem) rotate(270deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=django"
        class="orbit-icon"
        style="transform: translate(-14rem, 14rem) rotate(315deg)"
      />
    </div>

    <!-- Orbita 3 -->
    <div
      class="absolute w-[50rem] h-[50rem] border-2 border-secondary rounded-full animate-spin-slower"
    >
      <img
        src="https://skillicons.dev/icons?i=aws"
        class="orbit-icon"
        style="transform: translate(-27rem, 0) rotate(0deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=terraform"
        class="orbit-icon"
        style="transform: translate(-20rem, -18rem) rotate(45deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=docker"
        class="orbit-icon"
        style="transform: translate(-2rem, -27rem) rotate(90deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=kubernetes"
        class="orbit-icon"
        style="transform: translate(18rem, -17rem) rotate(135deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=git"
        class="orbit-icon"
        style="transform: translate(23rem, 0) rotate(180deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=github"
        class="orbit-icon"
        style="transform: translate(15rem, 17rem) rotate(225deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=gitlab"
        class="orbit-icon"
        style="transform: translate(0, 23rem) rotate(270deg)"
      />
      <img
        src="https://skillicons.dev/icons?i=vercel"
        class="orbit-icon"
        style="transform: translate(-17rem, 18rem) rotate(315deg)"
      />
    </div>
  </div>

  <!-- Vista Mobile: lista por categorías -->
  <div class="block lg:hidden text-white px-6 mt-40 space-y-10 pb-10">
    <div class="bg-white/5 rounded-xl p-6 shadow-md border border-white/10">
      <h3
        class="text-xl font-bold text-secondary mb-4 border-b border-secondary/30 pb-2"
      >
        Languages
      </h3>
      <div class="flex justify-center flex-wrap gap-5">
        <img src="https://skillicons.dev/icons?i=js" class="tech-icon" />
        <img
          src="https://skillicons.dev/icons?i=typescript"
          class="tech-icon"
        />
        <img src="https://skillicons.dev/icons?i=python" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=elixir" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=java" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=ruby" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=go" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=php" class="tech-icon" />
      </div>
    </div>

    <div class="bg-white/5 rounded-xl p-6 shadow-md border border-white/10">
      <h3
        class="text-xl font-bold text-secondary mb-4 border-b border-secondary/30 pb-2"
      >
        Frontend
      </h3>
      <div class="flex justify-center flex-wrap gap-5">
        <img src="https://skillicons.dev/icons?i=react" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=nextjs" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=astro" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=tailwind" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=svelte" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=vue" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=angular" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=bootstrap" class="tech-icon" />
      </div>
    </div>

    <div class="bg-white/5 rounded-xl p-6 shadow-md border border-white/10">
      <h3
        class="text-xl font-bold text-secondary mb-4 border-b border-secondary/30 pb-2"
      >
        DevOps & Infra
      </h3>
      <div class="flex justify-center flex-wrap gap-5">
        <img src="https://skillicons.dev/icons?i=aws" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=terraform" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=docker" class="tech-icon" />
        <img
          src="https://skillicons.dev/icons?i=kubernetes"
          class="tech-icon"
        />
        <img src="https://skillicons.dev/icons?i=git" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=github" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=gitlab" class="tech-icon" />
        <img src="https://skillicons.dev/icons?i=vercel" class="tech-icon" />
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin-reverse-slower {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  .animate-spin-slow {
    animation: spin-slow 20s linear infinite;
  }
  .animate-spin-reverse-slower {
    animation: spin-reverse-slower 40s linear infinite;
  }
  .animate-spin-slower {
    animation: spin-slow 60s linear infinite;
  }
  .orbit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.5rem;
    height: 3.5rem;
    transform-origin: center;
  }
</style>
